<head>
</head>

<body>
    <h2> Airline Detail</h2>
    <form>
        <div class="details">
            <label> <b style="color:#123C69;"> Airline name: </b></label> {{flight.flightName}}
        </div>

        <div class="details">
            <label> <b style="color:#123C69;"> Source point: </b></label> {{flight.initialPoint}}
        </div>

        <div class="details">
            <label> <b style="color:#123C69;"> Destination point: </b></label> {{flight.terminalPoint}}
        </div>

        <div class="details">
            <label> <b style="color:#123C69;"> Seating capacity: </b></label> {{flight.seatingQuantity}}
        </div>

        <div class="details">
            <label> <b style="color:#123C69;"> Cost: </b></label> {{flight.price}}
        </div>
    </form>
</body>