<head>
</head>

<body>
        <h2> Book Ticket</h2>
        <div class="col-sm-5 offset-md-3">
                <form class="form-inline">

                        <div class="form-group">
                                <label> Airline name</label>
                                <input readonly type="text" class="form-control" id="flightName"
                                        [(ngModel)]=" flight.flightName" name="flightName" disabled="false">
                        </div>

                        <div class="form-group">
                                <label> Source point</label>
                                <input readonly type="text" class="form-control" id="initialPoint"
                                        [(ngModel)]=" flight.initialPoint" name="initialPoint">
                        </div>

                        <div class="form-group">
                                <label> Destination point</label>
                                <input readonly type="text" class="form-control" id="terminalPoint"
                                        [(ngModel)]=" flight.terminalPoint" name="terminalPoint">
                        </div>

                        <div class="form-group">
                                <label> Seats Availability</label>
                                <input readonly type="number" class="form-control" id="seatingQuantity"
                                        [(ngModel)]=" flight.seatingQuantity" name="seatingCapacity">
                        </div>

                        <div class="form-group">
                                <label> Number of Seats </label>
                                <input type="number" class="form-control" id="seats" [(ngModel)]="flight.numberOfSeats"
                                        name="seatsEntered" min="1">
                        </div>

                        <div class="form-group">
                                <label style="margin-top:-30px;"> Cost for selected seats </label>
                                <input readonly type="number" class="form-control" id="updatedCost"
                                        [(ngModel)]="flight.calculatedPrice" name="price"
                                        style="margin-bottom:-30px;margin-left:-190px;width:50%">
                                <button (click)="calculatedValues()" id="calculation"
                                        style="font-size:15px; margin-left:5px;margin-top:40px;">Update</button>
                        </div>

                        <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
                </form>
        </div>
</body>