<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <section class="gallery-block cards-gallery">
        <div class="container">
            <div class="heading">
                <h2>Popular Destinations</h2>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href=" ">
                            <img src="../assets/Images/namma-chennai-letters-icon-namma-chennai-aka-our-chennai-letters-as-icon-chennai-marina-as-landmark-211052024.jpg"
                                class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4>Chennai</h4>
                            <p class="text-muted card-text" style="text-align: center;"><b>'Gateway to South India'</b>
                            </p>
                            <p class="text-muted card-text">Visit Anna Centenary Library,largest library throughout
                                Asia; Royapuram railway station, oldest railway station;
                                Marina Beach; Vandalur Zoo and many more...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href=" "><img src="../assets/Images/istockphoto-860528756-612x612.jpg"
                                class="card-img-top">
                        </a>
                        <div class="card-body" style="padding-bottom: -30px;">
                            <h4>Mumbai</h4>
                            <p class="text-muted card-text" style="text-align: center;"><b>'Financial Capital of
                                    India'</b>
                            </p>
                            <p class="text-muted card-text">Visit Marine Drive,home to Mumbai's famous landmarks; Juhu
                                Beach;
                                Elephanta Caves,known as UNESCO World Heritage Site also impressive rock-cut temples and
                                many more...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href="images/F3.jpg"><img
                                src="../assets/Images/istockphoto-186255464-612x612.jpg" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4>Bangalore</h4>
                            <p class="text-muted card-text" style="text-align: center;"><b>'Silicon Valley of India'</b>
                            </p>
                            <p class="text-muted card-text">Visit Bangalore Palace,inspired by its design; Lal Bagh
                                Botanical Gardens,garden comprises a glass house;
                                Cubbon Park; National Gallery Of Modern Art and many more...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>