@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #AC3B61;
  opacity: 0.8;
  width: 70px;
  overflow: hidden;
  transition: width 0, 2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  z-index: 1;

}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0px 0px 5px;
  pointer-events: none;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Rokkitt', serif;
}

a {
  position: relative;
  color: #EEE2DC;
  display: table;
  font-size: 14px;
  width: 300px;
  padding: 10px;
  font-weight: 600;
}

.fas {
  position: relative;
  width: 50px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #123C69;
  text-decoration: none;
}

nav:hover {
  width: 190px;
  transition: all 0.5s ease;
  text-decoration: none;
}

#logoName {
  text-shadow:
    0 0 7px #123C69,
    0 0 10px #123C69,
    0 0 21px #123C69,
    0 0 42px #AC3B61,
    0 0 82px #AC3B61,
    0 0 92px #AC3B61,
    0 0 102px #AC3B61,
    0 0 151px #AC3B61;
  animation: glow 0.50s ease-in-out infinite alternate-reverse;
}

@keyframes glow {
  100% {
    text-shadow:
      0 0 4px #123C69,
      0 0 11px #123C69,
      0 0 19px #123C69,
      0 0 40px #AC3B61,
      0 0 80px #AC3B61,
      0 0 90px #AC3B61,
      0 0 100px #AC3B61,
      0 0 151px #AC3B61;
  }

  0% {
    text-shadow:
      0 0 4px #123C69,
      0 0 10px #123C69,
      0 0 18px #123C69,
      0 0 38px #AC3B61,
      0 0 73px #AC3B61,
      0 0 80px #AC3B61,
      0 0 94px #AC3B61,
      0 0 140px #AC3B61;
  }
}