<head>
</head>

<body>
    <div class="list-row">
        <div class="col-md-8">
            <div class="input-group mb-3" style="margin-left: 176px; margin-top:30px">
                <input type="text" class="form-control" placeholder="Search by Airline Name" [(ngModel)]="flightName" />
                <div>
                    <button class="btn btn-outline-secondary" type="button" (click)="searchByFlightName()"
                        style="color:#EEE2DC;background: #AC3B61;font-size:17px;font-weight: 600;">Search
                    </button>

                    <button class="btn btn-outline-secondary" type="button" (click)="getDomesticFlight()" style="margin-left:60px;color:#EEE2DC;
                  background:#AC3B61;font-size:17px;font-weight: 600;">Domestic Airline
                    </button>

                    <button class="btn btn-outline-secondary" type="button" (click)="getInternationalFlight()"
                        style="color:#EEE2DC;background: #AC3B61;font-size:17px;font-weight: 600;">International
                        Airline
                    </button>

                    <button class="btn btn-outline-secondary" type="button" (click)="backToviewAllFlightDetails()"
                        style="color:#EEE2DC;background: #AC3B61;font-size:17px;font-weight: 600;">Back
                    </button>
                </div>
            </div>
        </div>
        <h2>Airlines Available</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Airline Name</th>
                    <th> Source point </th>
                    <th> Destination point</th>
                    <th> Seating capacity </th>
                    <th> Cost per seat</th>
                    <th> Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detailsOfFlight of flights">
                    <td> {{ detailsOfFlight.flightName }} </td>
                    <td> {{ detailsOfFlight.initialPoint }} </td>
                    <td> {{ detailsOfFlight.terminalPoint }} </td>
                    <td> {{ detailsOfFlight.seatingQuantity }} </td>
                    <td> {{ detailsOfFlight.price }} </td>
                    <td>
                        <button (click)="viewFlightDetailsById(detailsOfFlight.flightId)" class="btn btn-info"
                            style="margin-left:-5px"> View</button>
                        <button (click)="changeFlightDetailsById(detailsOfFlight.flightId)" class="btn btn-info"
                            style="margin-left: 3px"> Update</button>
                        <button (click)="deleteFlightDetailsById(detailsOfFlight.flightId)" class="btn btn-danger"
                            style="margin-left: 3px"> Delete</button>
                        <button (click)="bookTickets(detailsOfFlight.flightId)" class="btn btn-info"
                            style="margin-left: 3px"> Book Ticket</button>
                    </td>
                </tr>
                <tr *ngIf="flights.length !==0">
                    <button class="m-3 btn btn-sm btn-danger" (click)="deleteAllFlightDetails()">Delete All</button>
                </tr>
                <tr scope="row" *ngIf="flights.length === 0">
                    <td colspan="4" class="text-center">No Record Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>