* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/Images/traveller-banner05.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 7%;
}

.box {
    display: flex;

    flex-direction: row;
    position: relative;

    width: 330px;

    padding: 60px 20px 30px 20px;
    height: 450px;
    background-color: rgba(255, 220, 220, 0.4);
    border-radius: 30px;

    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.box-login {
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}

.top-header {
    text-align: center;
    margin-left: -10px;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #EEE2DC;
    font-family: 'Rokkitt', serif;
}

h3 {
    text-shadow:
        0 0 7px #123C69,
        0 0 10px #123C69,
        0 0 21px #123C69,
        0 0 42px #AC3B61,
        0 0 82px #AC3B61,
        0 0 92px #AC3B61,
        0 0 102px #AC3B61,
        0 0 151px #AC3B61;
    animation: glow 0.80s ease-in-out infinite alternate-reverse;
}

@keyframes glow {
    100% {
        text-shadow:
            0 0 4px #123C69,
            0 0 11px #123C69,
            0 0 19px #123C69,
            0 0 40px #AC3B61,
            0 0 80px #AC3B61,
            0 0 90px #AC3B61,
            0 0 100px #AC3B61,
            0 0 151px #AC3B61;
    }

    0% {
        text-shadow:
            0 0 4px #123C69,
            0 0 10px #123C69,
            0 0 18px #123C69,
            0 0 38px #AC3B61,
            0 0 73px #AC3B61,
            0 0 80px #AC3B61,
            0 0 94px #AC3B61,
            0 0 140px #AC3B61;
    }
}

.input-group {
    width: 100%;
}

.input-field {
    margin: 12px 0;
    position: relative;
}

.input-box {
    width: 105%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 30px 45px 30px 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}

.input-box:focus {
    box-shadow: 0px 4px 20px rgba(114, 10, 242, 0.5);
}

.input-field label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 13px;
    transition: .3s ease-in-out;
}

.input-box:focus~label,
.input-box:valid~label {
    top: 5px;
    font-size: 10px;
    color: #AC3B61;
    font-weight: 600;
}

.input-submit {
    width: 200%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    background: #AC3B61;
    color: #EEE2DC;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
    margin-left: 40px;
}

.input-submit:hover {
    background: #EEE2DC;
    color: #AC3B61;
}

.newUser {
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
    margin-left: 0px;
    font-weight: 300;
}

.newUser a {
    text-decoration: none;
    color: #EEE2DC;
}

#message {
    color: rgb(240, 4, 4);
    font-weight: 300;
}